#over.frame{
    z-index: 10;
    position: absolute;
    margin: auto;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    max-width: 700px;
}

.blackscreen {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 9;


    transition: opacity .3s, visibility .3s;
    opacity: 0;
    visibility: hidden;
}

.img2 {
    border-radius: 10px;
    max-width: 600px;
    width: 100%;

    transition-duration: .3s;
}

.img2:hover {
    transform: scale(1.03, 1.03);
    cursor: pointer;
}