@font-face {
	font-family: "hAndy";
	src: local("hAndy"), url("/source/fonts/hAndy.ttf");
}

@font-face {
    font-family: 'Celestina';
    src: local('Celestina'), url('/source/fonts/Celestina.woff2') format('woff2'), url('/source/fonts/Celestina.woff') format('woff'), url('/source/fonts/Celestina.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background: url("/source/background_img.png") center fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
}

.frame {
    background-color: rgba(0, 0, 0, 0.85);
    width: auto;
    max-width: 1000px;
    height: max-content;
    margin: auto;
    position: relative center;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: outset;
    border-color: #ffffff;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    font-family: "hAndy";
    text-align: center;
    z-index: 5;
}

.button {
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    border-color: green;
    border-radius: 6px;
    padding: 8px 6px;
    font-size: 20px;
    min-width: 215px;
    font-family: "hAndy";

    transition-duration: .3s;
}

.button:hover {
    background-color: green;
    border-color: rgb(0, 156, 0);
    transform: scale(1.05, 1.05);
}

.button:active{
    background-color: rgb(0, 80, 0);
    border-color: rgb(0, 126, 0);
    transform: scale(1, 1);

    transition-duration: .1s;
}

.text {
    display: none;
    background-color: rgb(0, 70, 0);
    color: #ffffff;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: "hAndy";
    font-size: 20px;
    border-radius: 6px;
    border-radius: 6px;
    padding: 0 6px;
}

.text::placeholder{
    color: #ffffff;
}

.img {
    border-radius: 10px;
    max-width: 900px;
    width: 0%;

    transition: width .3s;
}

.tablelinks {
    padding: 10px;
    position: sticky;
    left: 100%;

}

.links {
    transition-duration: .3s;
}

.links:hover{
    transform: translate(-5px,-5px) scale(1.1, 1.1);
}

.links2{
    transition-duration: .3s;
}

.links2:hover {
    transform: translate(-8px, 0) scale(1.1, 1.1);
}

.corner {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-family: Arial;
    font-size: 20px;
    z-index: -1;
}

td {
    padding: 0 10px;
}

h1 {
    font-size: 50px;
}

div {
    font-size: 26px;
}

.alink {
    transition-duration: .3s;
}
.alink:link {
    color: lawngreen;
}

.alink:visited {
    color: green;
}

.alink:hover {
    color: yellow;
}

.alink:active {
    color: red;
    transition-duration: .1s;
}